# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/

*.manifest
*.spec

cython_debug/

.vscode/
.idea/
.DS_Store

.mypy_cache/
.dmypy.json

.cache/
.pytest_cache/

.coverage
coverage.xml
htmlcov/

*.log

build/
dist/
*.egg-info/

Pipfile.lock

*.onnx
*.pt
*.ckpt
*.pb
*.pkl
*.joblib

.env
.env.*

.jupyter/

*.safetensors

*.zip
*.tar.gz
*.h5
*.jsonl
data/
datasets/
